.square {
    max-height: 300px;
    height: 100%;
    width: 188px;;
    margin: 20px;
    border: 2px solid #ff5d2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .square h1 {
    font-size: 100px;
    margin: 0;
  }
  .square p {
    text-align: center;
    padding: 5px;
  }

  .square__green {
      color: green;
  }

  .square__orange {
      color: orange;
  }

  .square__red {
      color: red;
  }

  @media screen and (max-width: 700px) {
      .squareWrapper {
          margin-bottom: 20px;
      }
     .square h1 {
      font-size: 70px;
    }
  }

  @-webkit-keyframes bargrowth{
    0%   {max-height: 0%;}
    100%  {max-height: 100%;}
  }
  @keyframes bargrowth{
    0%   {max-height: 0%;}
    100%  {max-height: 100%;}
  }

  .chart {
    position:relative;
    margin-top:40px;
    /* width:50px; */
    width: 150px;
    height:100px;
    margin: 50px auto 0px;
  }


  .bar {
    -webkit-animation: bargrowth 400ms ease;
    animation: bargrowth 400ms ease;
    position:absolute;
    bottom:0;
    height: 0px;
    width: 50px;
    max-height: 100px;
    display:block;
    z-index: 200;
    /* animation: auto-progress 5s infinite linear; */
    /* max-height: 100px;
    overflow-y: hidden;
    transition: max-height 0.3s linear; */
}

.bar__large {
    background: red;
    box-shadow: 1px -1px red, 2px -2px red, 3px -3px red,   4px -4px red, 5px -5px red, 6px -6px red, 7px -7px   red, 8px -8px red, 9px -9px red, 10px -10px red;
}

.bar__medium {
    background: orange;
    box-shadow: 1px -1px orange, 2px -2px orange, 3px -3px orange,   4px -4px orange, 5px -5px orange, 6px -6px orange, 7px -7px   orange, 8px -8px orange, 9px -9px orange, 10px -10px orange;
}

.bar__small {
    background: #89b800;
    box-shadow: 1px -1px #79a300, 2px -2px #79a300, 3px -3px #79a300,   4px -4px #79a300, 5px -5px #79a300, 6px -6px #79a300, 7px -7px   #79a300, 8px -8px #79a300, 9px -9px #79a300, 10px -10px #79a300;
}

/* @keyframes auto-progress {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
} */


/* change canvas */

.chart #canvasjs-react-chart-container-0, .chart #canvasjs-react-chart-container-1, .chart #canvasjs-react-chart-container-2 {
  height: 150px !important;
}

.chart .canvasjs-chart-canvas {
  height: 150px !important;
}

.chart .canvasjs-chart-toolbar, .chart .canvasjs-chart-credit {
  display: none;
}